/** Now Playing **/

.now-playing__name {
  font-size: 1.5em;
  margin-bottom: 0.2em;
}

.now-playing__artist {
  margin-bottom: 1em;
}

.now-playing__status {
  margin-bottom: 1em;
}

.now-playing-img {
  width: 20%;
}

.now-playing__img img {
  max-width: 80vmin;
  width: 100%;
}
